body{

font-family: Arial, sans-serif;

background:#111;

color:white;

text-align:center;

margin:0;

}


header{

background:#d4a017;

color:#111;

padding:25px;

}


main{

padding:20px;

}


.lanche{

background:#222;

margin:15px;

padding:25px;

border-radius:15px;

font-size:20px;

cursor:pointer;

transition:.3s;

}


.lanche:hover{

transform:scale(1.05);

background:#333;

}


button{

background:#d4a017;

border:none;

padding:15px 25px;

border-radius:10px;

font-weight:bold;

cursor:pointer;

margin:10px;

}


input{

padding:12px;

border-radius:8px;

border:none;

margin:5px;

}


li{

margin:10px;

font-size:18px;

  }
